doctype html
html
    head
        style
            <!--local Bootstrap link-->
            include ../bootstrap/css/bootstrap.min.css
            <!--customised css link-->

        link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        title 
        h1 First Pug Template NODE-js
    body
        include nav.pug
        block content
