doctype html
html
    head
    body
        form
            label( for="inputEmail") Email address
            input(type="email" name="username" id="inputEmail" class="form-control" placeholder="Email address" required autofocus)

            label( for="password" ) Password
            input(type="password" name="password" id="password" class="form-control" placeholder="Password" required autofocus)
           
            