extends includes/layout.pug

block content
    header.card-reader
        h4.card-title REGISTERED USERS
    table.table
        thead.thead-dark
            tr
                th Firstname
                th Lastname
                th City
            tbody
                each user in users/*for each user create a row with columns firstname,lastname and city*/
                    tr
                        td #{user.firstname}
                        td #{user.lastname}
                        td #{user.city}